body{
	font-size: Segoe UI;
	font-size: 15px;
	color: #777;
}
header{
	position: absolute;
	background-color: #ff6796;
	width: 100%;
	top:0;
}
.titulos{
	font-family: 'Lobster', cursive;
}
.contenido{
	font-family: 'Open Sans', sans-serif;
}
#carousel{
	padding-top: 62px;
		
}
.ladoderecho{
	background-color: #FF6796;
	
}

.circulo2{
	background-color:#EFA1CA;
	padding: 40px;
	border-radius: 1000px;
    height: 400px;
    width: 400px;
}

.lado1{
	background-color: #FF6796;
	padding-left: 200px;
	
}
.info1 h1{
	padding-top: 100px;
	color: #FFFFFF;
	font-size: 70px;
	
}
.info1 p{
	color: #FFFFFF;
}
#carousel .btn-light{
	font-size: 13px;
	font-weight: 600;
	background-color: #01BEFE;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	border-radius: 100px;
}

#about .btn-light{
	font-size: 13px;
	font-weight: 600;
	background-color: #01BEFE;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	border-radius: 100px;
}

#works h1{
	color: #444444;
	text-align:center;
	padding-top: 50px;
}
.wrks{
	padding-top: 40px;
	padding-bottom: 40px;
}
#products{
	background-color: #01BEFE;
	padding: 5%
}
.info2{
	background-color: #FFFFFF;
	border-radius: 10px;
}
#products img{
	border-radius: 10px;
}
.info2 h3, p{
	text-align: center;
	color: #000000;
}
#products h1{
	text-align: center;
	color: #fff;
	padding-bottom: 30px;
}
#features{
	background-color: #FF6796;
}
#features h1{
	color: #fff;
	text-align: center;
	padding-top: 50px;
}
i{
	font-size: 80px;
	color: #fff;
	padding-left: 42%;
	padding-bottom: 20px;
}
#features h4, p{
	color: #fff;
	text-align: center;
}
footer{
	background-color: #231D1D;
}
.redes {
	font-size: 20px;
	padding-top: 20px;
	text-align: center;
	
}
.redes i{
	padding-top: 100px;
	font-size: 50px;
	border: thin;
}
#about  h3, p{
	color:#444444;
	text-align: center;
	padding-top: 50px;
}
#features p{
	color: #fff;
}
#about .btn-light{
	font-size: 13px;
	font-weight: 600;
	background-color: #01BEFE;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	border-radius: 100px;
	
}

